---
import { Image } from "astro:assets";

import MainLayout from "@layouts/MainLayout.astro";

import likeIcon from "@assets/icons/like.svg";
import { routines } from "@data/index";
import Button from "@components/Button.astro";

import type { TypeRoutine } from "@interfaces/routines";
import { imgRoute } from "@utils/getPathsIcon";

const { category } = Astro.params;
const url = Astro.url;

const params = new URL(url).searchParams;
const categoryType = category as TypeRoutine;

const isValid = Object.keys(routines).includes(categoryType);

if (!isValid) {
  return Astro.redirect("/404");
}
const { id, name, description } = routines[categoryType];
const level = params.get("level");
---

<MainLayout title={name}>
  <main
    class="w-11/12 my-8 sm:w-8/12 md:w-6/12 lg:w-5/12 xl:w-5/12 shadow-2xl rounded-md h-full"
    data-collapsable-item
  >
    <div
      id={`card__${id}`}
      data-card
      transition:name={`card__${id}`}
      class="bg-theme-secondary h-20 rounded-md data-open:rounded-b-none text-theme-text-light px-8 flex items-center scroll-mt-30"
    >
      <div class="w-full h-full text-center flex items-center">
        <p class="text-2xl w-full font-bold" transition:name={`title_${id}`}>
          {name.toUpperCase()}
        </p>
      </div>
    </div>
    <section
      id={`content__${id}`}
      class="grid bg-white rounded-b-md"
      data-content
    >
      <div class="overflow-hidden">
        <div class="py-8 px-2 flex flex-col gap-10 items-center">
          <div class="w-full flex items-center justify-center">
            <Image
              src={imgRoute(id as TypeRoutine)}
              alt={`icon_${id}`}
              width={103}
              transition:name={`icon_${id}`}
            />
          </div>
          <div class="w-5/6 flex items-center justify-center">
            <p class="text-center text-2xl">
              {description}
            </p>
          </div>
          <div
            class="flex items-center justify-center bg-theme-disable flex-col mx-10 p-4 text-theme-primary rounded-xl text-center"
          >
            <svg width="22" height="22" class="mb-2">
              <use href="/icons.svg#information"></use>
            </svg>
            <strong class="font-bold">RECOMENDACIÓN</strong>
            <p class="text-sm font-medium text-center w-full">
              Para un aprovechamiento óptimo, cada nivel de nuestras rutinas
              está diseñado para realizarse durante al menos 4 semanas.
            </p>
            <div class="flex gap-4 items-center justify-center mt-4">
              <div class="w-1/6">
                <Image src={likeIcon} alt="like" width={35} />
              </div>
              <p class="font-medium text-lg w-5/6 text-start leading-tight">
                Si tienes alguna duda, consulta a un entrenador
              </p>
            </div>
          </div>
          <div class="w-full flex items-center justify-around">
            <Button variant="secundary" onclick="history.back()">
              Regresar
            </Button>
            <a href={`/routine/${categoryType}/?level=${level}`}>
              <Button variant="primary">
                Continuar
              </Button>
              </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
