---
import ClassCard from "@components/ExerciseCards/ClassCard.astro";
import Cooling from "@components/ExerciseCards/Cooling.astro";
import GeneralCard from "@components/ExerciseCards/GeneralCard.astro";
import Heating from "@components/ExerciseCards/Heating.astro";
import ExpandableCardDay from "@components/expandibleCompose/ExpandableCardDay.astro";
import { ProgressIndicatorRoutine } from "@components/react/ProgressIndicatorRoutine";
import type { Day } from "@interfaces/routines";

interface Props {
  day: Day;
}
const { day } = Astro.props;
---

<ExpandableCardDay day={day.id} id={`${day.id}`} title={day.focus}>
  <div
    class="flex flex-col gap-8 items-center bg-white px-3 py-8 rounded-b-2xl"
  >
    <ProgressIndicatorRoutine client:only="react" dayId={day.id} />
    <Heating id="heating" dayId={day.id} />
    {
      day.exercises.map((it) => {
        if (it.name === "Clase PE@PF") {
          return <ClassCard {...it} id={it.id} dayId={day.id} />;
        }
        return <GeneralCard {...it} id={it.id} dayId={day.id} />;
      })
    }
    <Cooling id="cooling" dayId={day.id} />
  </div>
</ExpandableCardDay>
