---
import Chevron from "@assets/icons/astro/Chevron.astro";
import CardLevel from "./CardLevel.astro";

interface Props {
  id: string;
  title: string;
  syncCollaps?: string | false;
}

const { title, id, syncCollaps = false } = Astro.props;
---

<div class="w-11/12">
  <div
    id={`card__${id}`}
    class="bg-theme-secondary h-20 rounded-lg text-theme-text-light px-8 flex items-center scroll-mt-15"
  >
    <div class="w-4/6 flex items-center justify-center h-full">
      <p class="text-2xl w-full font-bold">{title}</p>
    </div>
    <div class="w-2/6 flex justify-end">
      <button
        class="border-0 bg-transparent"
        id={`chevron__${id}`}
        data-sync={`btn__${syncCollaps}`}
      >
        <Chevron />
      </button>
    </div>
  </div>
  <div
    id={`content__${id}`}
    data-sync={`content__${syncCollaps}`}
    class="active bg-theme-tertiary rounded-b-md max-h-0 overflow-hidden transition-[max-height] duration-500 ease-in-out"
  >
    <div class="py-8 px-2 flex flex-col gap-8 items-center">
      <slot>
        <p>No hay nada que mostrar</p>
      </slot>
    </div>
  </div>
</div>

<script define:vars={{ id }} is:inline type="module">
  const __init__ = () => {
    let isActive = false;
    const card = document.getElementById(`card__${id}`);
    const button = document.getElementById(`chevron__${id}`);
    const content = document.getElementById(`content__${id}`);
    const chevronIcon = button.querySelector("svg");

    if (!button || !chevronIcon || !content) return;

    const attSyncBtn = button.dataset.sync;
    const attSyncContent = content.dataset.sync;

    const btnsOtherSync = document.querySelectorAll(
      `[data-sync=${attSyncBtn}] > svg`,
    );
    const contentOtherSync = document.querySelectorAll(
      `[data-sync=${attSyncContent}]`,
    );

    button.addEventListener("click", () => {
      attSyncBtn !== "false" &&
        btnsOtherSync.forEach((btn) => {
          btn.classList.remove("rotate-180");
        });

      attSyncContent !== "false" &&
        contentOtherSync.forEach((cnt) => {
          cnt.style.maxHeight = "0px";
        });

      isActive = !isActive;
      chevronIcon?.classList.toggle("rotate-180", isActive);
      content.style.maxHeight = isActive ? content.scrollHeight + "px" : "0px";

      if (isActive) {
        setTimeout(() => {
          card.scrollIntoView({ behavior: "smooth", block: "start" });
        }, 450);
      }
    });
  };
  document.addEventListener("DOMContentLoaded", __init__);
</script>
