---
import { Image } from "astro:assets";
import closeIcon from "@assets/icons/close.png";
import emojiFrown from "@assets/icons/emoji-frown.png";
import emojiNeutral from "@assets/icons/emoji-neutral.png";
import emojiSmile from "@assets/icons/emoji-smile.png";

interface Props {
  id: string;
  btnClose?: boolean;
}
const { id, btnClose = true } = Astro.props;
console.log(`create a modal for id : ${id}`);

const script_set = `(()=> {
  const dialog = document.getElementById("${id}");
  const handleOnCloseModal = () => {
    dialog.classList.add('closing');
    setTimeout(() => dialog.close(), 250);
    dialog.classList.remove('closing');
    dialog.classList.add('hidden')
  }
  if (dialog && !dialog.hasAttribute("data-init")) {
    dialog.setAttribute("data-init", "true");
    document.addEventListener("open-dialog-${id}", () => dialog.classList.remove('hidden'));
    document.addEventListener("close-dialog-${id}", () => handleOnCloseModal());
    dialog.addEventListener("click", (e) => {
      if (e.target === dialog) handleOnCloseModal();
    });
  }
})()`;
---

<div
  id={id}
  class="hidden"
  aria-labelledby="modal-feedback"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-theme-secondary/40 transition-opacity backdrop-blur-xs"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center">
      <div
      class="relative w-10/12 max-w-md rounded-2xl bg-white shadow-xl pt-12 pb-8 px-6"
      >
      {btnClose && (
        <button
          class="absolute -top-4 -right-4 flex h-12 w-12 items-center justify-center rounded-full shadow-lg cursor-pointer"
        >
            <span class="sr-only">Cerrar</span>
            <Image src={closeIcon} alt='close button' />
          </button>
        )}
        <!-- Inicia contenido del modal 

        <div class="text-center">
          <h3 class="text-3xl font-bold text-theme-primary" id="modal-title">
            ¡Cuéntanos tu experiencia!
          </h3>
          <div class="mt-2">
            <p class="text-md text-gray-500">
              En esta primer etapa nos gustaría saber cómo te ha parecido.
            </p>
          </div>
        </div>

        <div class="mt-8 flex flex-col items-center justify-center gap-6">
          <div
            class="flex cursor-pointer flex-col items-center text-center opacity-80 hover:opacity-100 transition-opacity"
          >
            <Image src={emojiSmile} alt='emojiSmile' />
            <span class="mt-1 font-semibold text-gray-700">Bien</span>
          </div>
          <div
            class="flex cursor-pointer flex-col items-center text-center opacity-80 hover:opacity-100 transition-opacity"
          >
            <Image src={emojiNeutral} alt='emojiNeutral' />
            <span class="mt-1 font-semibold text-gray-700">Regular</span>
          </div>
          <div
            class="flex cursor-pointer flex-col items-center text-center opacity-80 hover:opacity-100 transition-opacity"
          >
            <Image src={emojiFrown} alt='emojiFrown' />
            <span class="mt-1 font-semibold text-gray-700">Mal</span>
          </div>
        </div>
        Finaliza contenido del modal -->
      </div>
    </div>
  </div>
</div>

<script is:inline set:html={script_set} />

