---
import closeIcon from "@assets/icons/close.png";
import { Image } from "astro:assets";

interface Props {
  id: string;
  btnClose?: boolean;
}
const { id, btnClose = true } = Astro.props;
console.log(`create a modal for id : ${id}`);

const script_set = `(()=> {
  const dialog = document.getElementById("${id}");
  const handleOnCloseModal = () => {
    dialog.classList.add('closing');
    setTimeout(() => dialog.close(), 250);
    dialog.classList.remove('closing');
  }
  if (dialog && !dialog.hasAttribute("data-init")) {
    dialog.setAttribute("data-init", "true");
    document.addEventListener("open-dialog-${id}", () => dialog.showModal());
    document.addEventListener("close-dialog-${id}", () => handleOnCloseModal);
    dialog.addEventListener("click", (e) => {
      if (e.target === dialog) handleOnCloseModal();
    });
  }
})()`;
---

<dialog
  id={id}
  data-astro
  class="fixed top-1/2 left-1/2 translate-1/2 rounded-lg w-full h-full"
>
  <div class="h-full w-full">
    {
      btnClose && (
        <button
          class="float__button--dialog"
          onclick={`
          const dlg = document.getElementById('${id}');
          dlg.classList.add('closing');
          setTimeout(() => dlg.close(), 250);
          dlg.classList.remove('closing');
          `}
        >
          <Image src={closeIcon} alt="close button modal" class="hidden" />
        </button>
      )
    }
    <div class="w-full h-full bg-white">
      <slot />
    </div>
  </div>
</dialog>
<script is:inline set:html={script_set} />

<style>
  /* dialog {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease;
    background: transparent;
    position: fixed;
    inset: 0;
    margin: auto;
  } */
  dialog::backdrop {
    background-color: #290241ba;
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.3s ease;
  }
  dialog[open] {
    animation: dialogFadeIn 0.4s ease-out;
  }

  dialog.closing {
    animation: dialogFadeOut 0.3s ease-in forwards;
  }

  .float__button--dialog img {
    border: none;
  }

  .float__button--dialog {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    transition:
      opacity 0.2s ease 0.4s,
      transform 0.3s ease 0.4s;
  }

  @media (max-width: 800px) {
    .float__button--dialog {
      top: 25px;
      right: 25px;
    }
  }
  @media (max-width: 440px) {
    .float__button--dialog {
      top: 15px;
      right: 15px;
    }
  }

  @keyframes dialogFadeIn {
    from {
      opacity: 0;
      transform: translateY(-2rem) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  @keyframes dialogFadeOut {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(-1rem) scale(0.95);
    }
  }
</style>
