---
import { CheckButtonWithState } from "@components/react/CheckButton";
import type { Apparatus } from "@interfaces/routines";

interface Props {
  muscle: Apparatus;
  dayId: number;
  idExcercise: string;
  isFatBurning: boolean;
  first: string;
  second: string;
  rounds?: number | null;
}

const { muscle, dayId, idExcercise, isFatBurning, first, second, rounds } =
  Astro.props;
---

<div class="bg-gradient-purple-light rounded-2xl w-11/12 p-6 flex">
  <div
    class="flex justify-start flex-col w-8/12 text-theme-primary font-semibold text-xl gap-3"
    class:list={{
      "pt-4": !isFatBurning,
    }}
  >
    {
      isFatBurning && (
        <div class="flex bg-gradient-purple w-11/12 rounded-3xl justify-center items-center px-4 py-2 text-white text-2xl">
          {rounds} rondas
        </div>
      )
    }
    <div
      class="flex bg-white w-11/12 rounded-3xl justify-between items-center px-4 py-2 text-xl border border-theme-primary"
    >
      <p>{isFatBurning ? "Activo" : "Series"}</p>
      <p>{first}</p>
    </div>
    <div
      class="flex bg-theme-text-light w-11/12 rounded-3xl justify-between items-center px-4 py-2 text-xl border border-theme-primary"
    >
      <p>{isFatBurning ? "Descanso" : "Repeticiones"}</p>
      <p>{second}</p>
    </div>
  </div>
  <div class="w-4/12 flex flex-col gap-3">
    <img
      src={`/muscles${muscle.imgUrl}.svg`}
      alt={`múculo a trabajar: ${muscle.name}`}
      class="border border-theme-primary bg-white rounded-xl w-full"
      loading="lazy"
      width="100px"
    />
    <div class="flex justify-end w-full">
      <CheckButtonWithState
        client:only="react"
        id={idExcercise}
        dayId={dayId}
      />
    </div>
  </div>
</div>
