---
import Chevron from "@assets/icons/astro/Chevron.astro";

interface Props {
  id: string;
  day: number;
  title: string;
}

const { title, id, day } = Astro.props;
---

<div class="w-11/12" data-collapsable-item>
  <button
    class="bg-white w-full text-start cursor-pointer rounded-md data-[open=false]:rounded-b-md data-[open=true]:rounded-b-none"
    id={`chevron__${id}`}
  >
    <div
      id={`card__${id}`}
      trounded-t-lg
      data-card
      transition:name={`card__${id}`}
      class="bg-theme-tertiary h-20 rounded-md data-open:rounded-b-lg text-theme-primary pl-6 pr-8 flex items-center scroll-mt-30"
    >
      <div class="w-3/12 mr-4">
        <p class="text-2xl w-full font-semibold">
          DÍA {day}
        </p>
      </div>
      <div class="w-7/12 flex items-center justify-start h-full">
        <p
          class="text-2xl w-full font-semibold"
          transition:name={`title_${id}`}
        >
          {title.toUpperCase()}
        </p>
      </div>
      <div class="w-2/12 flex justify-end">
        <Chevron color="#9600FA" />
      </div>
    </div>
  </button>
  <div
    id={`content__${id}`}
    class="grid bg-theme-tertiary rounded-b-2xl"
    data-content
  >
    <div class="overflow-hidden">
      <slot>
        <p>No hay nada que mostrar</p>
      </slot>
    </div>
  </div>
</div>

<style>
  [data-content] {
    grid-template-rows: 0fr;
    transition: grid-template-rows 400ms cubic-bezier(0.25, 0.1, 0.25, 1); /* Transición suave */
  }
  [data-content].is-open {
    grid-template-rows: 1fr;
  }
  [data-card] {
    transition-property: border-radius;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
    box-shadow: 0 5px 5px 0px #0000002b;
  }
</style>
