---
interface Props {
  class: string;
  name: string;
}
const { class: classList, name: id } = Astro.props;
---

<section class={classList} id={id}>
  <meta data-id={id} />
  <slot />
</section>

<script>
  import { persitOpenCard, removeOpenCard } from "@store/expandableUI.actions";
  import { categoryOpen, dayOpen } from "@store/expandableUI";
  const __init__ = () => {
    const id =
      document.querySelector<HTMLMetaElement>("meta[data-id]")?.dataset.id;
    if (!id) return;
    const container = document.getElementById(id);
    if (!container) {
      console.warn(`Accordion container with id #${id} not found.`);
      return;
    }
    let currentOpen = null;

    const items = Array.from<HTMLDivElement>(
      container.querySelectorAll("div[data-collapsable-item]"),
    );
    const cardType = items.reduce(
      (_acc, it) => it.dataset?.typeCard || _acc,
      "",
    ) as unknown as "category" | "day";
    if (items.length === 0) {
      console.log("No collapsable items found in this group.");
      return;
    }

    if (cardType === "category") {
      currentOpen = categoryOpen.get();
    }
    if (cardType === "day") {
      currentOpen = dayOpen.get();
    }

    /**
     * Close a element of acordeon
     * @param {HTMLElement} item
     */
    const closeItem = (item: HTMLDivElement) => {
      const button = item.querySelector("button");
      const content = item.querySelector("[data-content]");
      const card = item.querySelector("[data-card]");
      const chevronIcon = button?.querySelector("svg.chevron");

      if (!content || !card || !chevronIcon || !button) return;

      item.setAttribute("data-open", "false");
      button.setAttribute("data-open", "false");
      card.removeAttribute("data-open");
      chevronIcon.classList.remove("rotate-180");
      content.classList.remove("is-open");
      removeOpenCard(cardType);
    };

    /**
     * Open a element of acorideon.
     * @param {HTMLElement} item
     */
    const openItem = (item: HTMLDivElement, idx: number) => {
      const button = item.querySelector("button");
      const content = item.querySelector("[data-content]");
      const card = item.querySelector("[data-card]");
      const chevronIcon = button?.querySelector("svg.chevron");

      if (!content || !card || !chevronIcon || !button) return;

      item.setAttribute("data-open", "true");
      button.setAttribute("data-open", "true");
      card.setAttribute("data-open", "true");
      chevronIcon.classList.add("rotate-180");
      content.classList.add("is-open");
      persitOpenCard(cardType, idx);
    };

    items.forEach((item, idx) => {
      const button = item.querySelector("button");
      if (!button) return;

      if (currentOpen !== null && currentOpen === idx) {
        openItem(item, currentOpen);
      }

      button.addEventListener("click", () => {
        const isCurrentlyOpen = item.getAttribute("data-open") === "true";
        const currentOpenItem = container.querySelector('[data-open="true"]');

        if (isCurrentlyOpen) {
          closeItem(item);
          return;
        }

        if (currentOpenItem && currentOpenItem !== item) {
          closeItem(currentOpenItem as HTMLDivElement);
        }

        openItem(item, idx);

        const content = item.querySelector("[data-content]");
        if (content) {
          content.addEventListener(
            "transitionend",
            () => {
              item.scrollIntoView({
                behavior: "smooth",
                block: "start",
              });
            },
            { once: true },
          );
        }
      });
    });
  };
  document.addEventListener("astro:page-load", __init__);
</script>
